.tab1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: rgba(0, 0, 0, 0.2) solid 2px;
    margin: 1vw;
    padding: 4vw;
    border-radius: 20px;
}

.tab2{
    display: flex;
}